$fontColour: #FFFFFF;
$textShadow: #000000;



.information
{
    padding: 0px;
    margin: 0px;
    color: $fontColour;
}



.date
{
    margin-top: 2vh;
    font-size: 2.5vh;
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 2px 2px $textShadow;
}



.sky
{
    font-size: 5vh;
    letter-spacing: 1px;
    display: inline-block;
    margin-top: 7vh;
    
    @media screen and (max-width: 480px)
    {
        margin-top: 3vh;
    }

    @media screen and (min-width: 481px) and (max-width: 768px)
    {
        margin-top: 4vh;
    }

    @media screen and (min-width: 769px) and (max-width: 1024px)
    {
        margin-top: 5vh;
    }

    @media screen and (min-width: 1025px) and (max-width: 1500px)
    {
        margin-top: 6vh;
    }

    @media screen and (min-width: 1501px) and (max-width: 1900px)
    {
        margin-top: 7vh;
    }
}



.wind_speed
{
    margin-top: 1.5vh;
    font-size: 4.5vh;
}



.wind_speed:after
{
    content: " m/s";
}