.information
{
    color: white;
}



.date
{
    font-size: 18px;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 150px;
    text-shadow: 2px 2px black;
}



.sky
{
    font-size: 50px;
    letter-spacing: 1px;
    display: inline-block;
}



.wind_speed
{
    font-size: 40px;
}