.information
{
    color: white;
}



.date
{
    font-size: 120%;
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 2px 2px black;

    @media screen and (max-width: 480px)
    {
        margin-bottom: 3%;
    }

    @media screen and (min-width: 481px) and (max-width: 768px)
    {
        margin-bottom: 10%;
    }

    @media screen and (min-width: 769px) and (max-width: 1024px)
    {
        margin-bottom: 15%;
    }

    @media screen and (min-width: 1025px) and (max-width: 1500px)
    {
        margin-bottom: 15%;
    }

    @media screen and (min-width: 1501px) and (max-width: 1900px)
    {
        margin-bottom: 15%;
    }

    @media screen and (min-width: 1901px)
    {
        margin-bottom: 20%;
    }
}



.sky
{
    font-size: 300%;
    letter-spacing: 1px;
    display: inline-block;
}



.wind_speed
{
    font-size: 230%;
    margin-bottom: 5%;
}



.wind_speed:after
{
    content: " m/s";
}