$backgroundColour: transparent;
$fontColour: #FFFFFF;
$borderColour: #FFFFFF;
$boxShadowColour: rgba(255, 120, 120, 0.8);



button
{
    padding: 0px;
    margin: 5px;
    width: 30.8%;
    height: 2em;

    color: $fontColour;
    font-size: 1.7vh;
    letter-spacing: 1px;
    font-weight: bold;

    background-color: $backgroundColour;
    border-radius: 10px;
    border-style: solid;
    border-color: $borderColour;
    border-width: 3px;
}



button:focus
{
    outline: none;
    box-shadow: 0px 0px 5px 3px $boxShadowColour;
}