$fontColour: #FFFFFF;



.text
{
    padding: 0px;
    margin: 0px;
    color: $fontColour;
}



.city
{
    font-size: 6.5vh;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 7vh;

    @media screen and (max-width: 480px)
    {
        margin-top: 3vh;
    }

    @media screen and (min-width: 481px) and (max-width: 768px)
    {
        margin-top: 4vh;
    }

    @media screen and (min-width: 769px) and (max-width: 1024px)
    {
        margin-top: 5vh;
    }

    @media screen and (min-width: 1025px) and (max-width: 1500px)
    {
        margin-top: 6vh;
    }

    @media screen and (min-width: 1501px) and (max-width: 1900px)
    {
        margin-top: 7vh;
    }
}



.wind_speed_text
{
    margin-left: 5%;
    font-size: 5vh;
    margin-top: 5vh;

    @media screen and (max-width: 480px)
    {
        margin-top: 2vh;
    }

    @media screen and (min-width: 481px) and (max-width: 768px)
    {
        margin-top: 3vh;
    }

    @media screen and (min-width: 769px) and (max-width: 1024px)
    {
        margin-top: 3vh;
    }

    @media screen and (min-width: 1025px) and (max-width: 1500px)
    {
        margin-top: 4vh;
    }

    @media screen and (min-width: 1501px) and (max-width: 1900px)
    {
        margin-top: 4vh;
    }
}



.degree_celsius
{
    font-size: 3.2vh;
    margin-left: 2vh;
}