$fontColour: #FFFFFF;



.text
{
    padding: 0px;
    margin: 0px;
    color: $fontColour;
}



.city
{
    font-size: 6.5vh;
    text-align: center;
    margin-top: 7vh;
    letter-spacing: 3px;
}



.wind_speed_text
{
    margin-top: 5vh;
    margin-left: 5%;
    font-size: 5vh;
}



.degree_celsius
{
    font-size: 3.2vh;
    margin-left: 2vh;
}