.text
{
    color: white;
}



.city
{
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 8px;
    letter-spacing: 3px;
}



.wind_speed_text
{
    font-size: 30px;
    margin-top: 90px;
    margin-left: 40px;
    margin-bottom: 15px;
}