.temperature
{
    color: white;
}



.temperature_big
{
    width: 70%;
    font-size: 1200%;
    margin-left: 5%;
}



.temperature_small
{
    width: 30%;
    font-size: 170%;
    text-align: right;
}