.temperature
{
    color: white;
}



.temperature_big
{
    font-size: 160px;
    margin-left: 30px;
}



.temperature_small_1
{
    font-size: 26px;
}



.temperature_small_2
{
    font-size: 26px;
}