// Colours
$background_color: #22425c;
$background_color_1: rgba(162, 2, 63, 0.8);
$background_color_2: rgba(231, 62, 68, 0.8);
$background_color_3: rgba(255, 129, 79, 0.8);
$border_color: #202022;



.frame
{
    padding: 0px;
    margin: 0px;
    background: linear-gradient(210deg, $background_color_1 10%, $background_color_2 60%, $background_color_3 100%);
    border-style: solid;
    border-width: 5px;
    border-radius: 30px;
    border-color: $border_color;
    font-family: sans-serif;
    text-shadow: 3px 3px black;

    .cities
    {
        margin: 2vh;
    }

    .temperatures
    {
        display: flex;

        .small_temperatures
        {
            margin-top: 10vh;

            .small_temperatures_group
            {
                display: flex;
            }

            .temperatures_line
            {
                width: 120%;
            }
        }
    }

    .wind_speed_container
    {
        display: flex;
    }
}