.frame
{
    padding: 0px;
    margin: 0px auto;
    position: relative;
    width: 24vw;
    height: 90vh;
    top: 5vh;
}



@media screen and (max-width: 480px)
{
    .frame
    {
        width: 95vw;
    }
}



@media screen and (min-width: 481px) and (max-width: 768px)
{
    .frame
    {
        width: 90vw;
    }
}



@media screen and (min-width: 769px) and (max-width: 1024px)
{
    .frame
    {
        width: 60vw;
    }
}



@media screen and (min-width: 1025px) and (max-width: 1500px)
{
    .frame
    {
        width: 50vw;
    }
}



@media screen and (min-width: 1501px) and (max-width: 1900px)
{
    .frame
    {
        width: 40vw;
    }
}