.image
{
    color: white;
    font-size: 42px;
    margin-left: 40px;
    filter: drop-shadow(3px 3px black);
}



.sky_image
{
    // transform: rotate(-20deg);
    display: inline-block;
    margin-right: 20px;
}



.wind_image
{
    margin-right: 20px;
}