$fontColour: #FFFFFF;
$effectColour: #000000;



.image
{
    padding: 0px;
    margin: 0px 5%;
    color: $fontColour;
    font-size: 5vh;
    filter: drop-shadow(3px 3px $effectColour);
}



.sky_image
{
    display: inline-block;
}



.wind_image
{
    margin-top: 1.5vh;
}